* {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-image: url("../images/what-the-hex.png");
}

.image-upload > input[type="file"] {
  display: none;
}

label[for="file-input"]:hover {
  cursor: pointer;
}

/* Keep image size to a maximum in table */
/* 
#expenses-table > td.expense-image{
  max-width: 1rem;
}

#expenses-table > td.expense-image img{
  max-width: 1rem;
} */

/* adding this margin so footer doesn't overlap container MC*/
.prop-details-container {
  margin-bottom: 150px;
}

#indiv-property-details-section {
  margin: 40px 0px 60px 0px;
}

#indiv-property-details-header,
#edit-prop-modal-header, #add-expense-modal-header {
  background-color: #343a40;
  color: white;
}

#prop-image {
  margin-bottom: 30px;
  width: 255px;
}

.indiv-prop-spec {
  margin-bottom: 3px;
}

#search-delete-add-row {
  margin-bottom: 15px;
}

#exp-nav-card,
#exp-detail-card {
  padding: 0px 0px 10px 0px;
}

.close-modal {
  color: white;
}

#edit-prop-details-button,
#back-to-properties-button {
  margin-bottom: 10px;
}
